@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
    --green: #32CD32;
    --silver: #C0C0C0;
    --darkgreen: #008000;
    --black: #000;
    --white: #fff;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    justify-content: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    color: var(--darkgreen);
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell.x::before,
.cell.x::after{
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: #000;
}